  html {
    background-color:#222;
    font-family: 'Droid Sans', Arial, sans-serif;
    background-image: url(pattern.png);
  }
  body {
    width:800px;
    margin: 20px auto;
    padding:0px;
    background-color:#FFF;
    border: 1px solid #333333;
  }
  h1, h2, h3 {
    text-shadow: -2px 2px 2px #aaa;
  }
  div.sub_block {
    padding:20px;
  }
  img.centered {
    display:block;
    text-align: center;
    width:700px;
    margin: auto;
  }
  img.centered_small {
    display:block;
    text-align: center;
    margin: auto;
  }
  div.centered{
    text-align: center;
    margin: auto;
  }
  div.big_espace{
    height:300px;
  }
  ul.big_ul li{
    font-size: 30px;
  }
  .nocolor a {
    color:black;
  }
  .nocolor a:visited {
   color:black; 
  }
  div.espace{
    height:100px;
  }
  video{
    display:block;
    margin:auto;
  }
  .video {
    text-align:center;
  }
  a{
    color:#2F40FF;
    font-weight:bolder;
    text-decoration:none;
  }
  a:visited {
    color:#5F6CFF;
  }
  a:hover {
    text-decoration:underline;
  }
  pre {
    font-family: 'Droid Sans Mono',  sans-serif;
    text-align:center;
    font-size: 30px;
    font-weight:bolder;
  }
  blockquote {
    font-family: 'Droid Serif', serif;
    text-align:center;
    font-size: 30px;
    font-weight:bolder;
  }
  cite {
    display:block;
    text-align:right;
    font-weight:normal;
  }

  .big_centered {
    text-align:center;
    font-size: 30px;
  }
  
  hr {
    width:60%;
  }


