  html {
    background-color:#222;
    font-family: 'Droid Sans', Arial, sans-serif;
    background-image: url(pattern.png);
  }
  body {
    width:800px;
    margin: 20px auto;
    padding:10px;
    background-color:#FFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border: 1px solid #333333;
  }
  h1, h2, h3 {
    text-shadow: -2px 2px 2px #aaa;
  }
  img {
    display:block;
    margin:auto;
  }
  video{
    display:block;
    margin:auto;
  }
  .video {
    text-align:center;
  }
  a{
    color:#2F40FF;
    font-weight:bolder;
    text-decoration:none;
  }
  a:visited {
    color:#5F6CFF;
  }
  a:hover {
    text-decoration:underline;
  }
  pre {
    font-family: 'Droid Sans Mono',  sans-serif;
    text-align:center;
    font-size: 30px;
    font-weight:bolder;
  }
  blockquote {
    font-family: 'Droid Serif', serif;
    text-align:center;
    font-size: 30px;
    font-weight:bolder;
  }
  cite {
    display:block;
    text-align:right;
    font-weight:normal;
  }

  .big {
      text-align:center;
    font-size: 30px;
  }
  hr {
    width:60%;
  }


.floaters {
    text-align: center;
  }
  .floaters img {
    display:inline;
    margin:10px;
  }